.App {
  border-color: black;
  border: 2px;
  border-style: solid;
  text-align: center;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: 100vh;
}

.App-header {
  font-size: 64px;
}
