.App {
  text-align: center;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: 100vh;
}

.App-header {
  font-size: 64px;
  text-shadow: 2px 2px 5px gray;
  font-family: "Indie Flower", cursive;
  position: sticky;
}
